<!DOCTYPE html>
<html lang="kr">

<head>
    <title>Habit Tracker</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="C:\Users\hdh30\Desktop\habit\static\mystyle.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <!-- Color Picker -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <link rel="stylesheet" href="C:\Users\hdh30\Desktop\habit\static\jquery.simplecolorpicker.css">
    <script src="jquery.simplecolorpicker.js"></script>


    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }

        .w3-half img {
            margin-bottom: -6px;
            margin-top: 16px;
            opacity: 0.8;
            cursor: pointer
        }

        .w3-half img:hover {
            opacity: 1
        }
    </style>

    <script>
        $(document).ready(function () {
            // Color picker를 작동시킨다
            $('#init').on('click', function () {
                $('select[name="habit_color"]').simplecolorpicker();
                $('select[name="colorpicker-picker-longlist"]').simplecolorpicker({ picker: true, theme: 'glyphicons' });
            });
            // By default, activate simplecolorpicker plugin on HTML selects
            $('#init').trigger('click');
        });
    </script>

    <script>
        function generateTable() {
            var mybody = document.getElementsByTagName("body")[0];
            mytable = document.createElement("table");
            mytablebody = document.createElement("tbody");

            for (var row = 0; row < 4; row++) {
                mycurrent_row = document.createElement("tr", id = row);
                for (var col = 0; col < 32; col++) {
                    mycurrent_cell = document.createElement("td", id = col);
                    currenttext = document.createTextNode("cell");
                    mycurrent_cell.appendChild(currenttext);
                    mycurrent_row.appendChild(mycurrent_cell);
                }
                mytablebody.appendChild(mycurrent_row);
            }
            mytable.appendChild(mytablebody);
            mybody.appendChild(mytable);
            mytable.setAttribute("border", "1");
        }
    </script>

    <!-- // A. '기록하기' 버튼을 눌렀을 때 실행시킬 내용
    // 1. 기록하기 버튼을 누르면(이벤트 발생)
    // 2. 서버에 내용을 보내서 저장(POST)
    // 3. html 내용을 다 지운 다음에
    // 4. 서버에 저장된 내용을 가져와서 기록표에 표시해준다(GET) (이번 달 기록만)
    // 5-1. 기록표의 습관 제목이 입력되고, 표의 아랫칸에 append 되어야 한다. (jqeury code?)
    // 5-2. 해당하는 날짜의 칸이 설정한 색으로 색칠되어야 한다


    // B. '1년 기록 보기' 버튼을 눌렀을 때 실행시킬 내용
    // 1. 새로운 웹페이지를 열어서
    // 2. 서버에 저장된 기록을 가져온다(GET) (1년치 기록 전체를)
    // 3. 1년간의 월별 기록표를 세로로 쭉 보여준다 or 1년짜리 기록표(가로로 길쭉한)를 보여준다. (뭐로 할지 고민해보기)

    // C. 기록표의 '습관 제목'버튼을 눌렀을 때 실행시킬 내용 (그러면 습관 제목 부분은 버튼으로 append 해야겠다.)
    // 1. A와 동일하게, 서버에 내용을 보내서 저장(POST). 이떄는 오늘 날짜를 자동으로 인식해서 서버에 보내준다.
    // 2. html 내용을 다 지운 다음에
    // 3. 서버에 저장된 내용을 가져와서 기록표에 표시해준다(GET)
    // 4. 해당하는 날짜의 칸이 설정한 색으로 색칠되어야 한다. -->
</head>

<body onload="generateTable()">
    <!-- bootstrap으로 사이드바(지난 달의 기록을 볼 수 있도록), 습관 및 색상 입력창, 기록버튼, 몇년 몇월인지 표시, 기록표 레이아웃 넣기 -->
    <!-- Top menu -->
    <header class="top red xlarge padding" style="width:100%">
        <a href="javascript:void(0)" class="button red margin-right" onclick="sidebar_open()">☰</a>
        <span>Habit Tracker</span>
        <!-- 버튼을 누르면 왼쪽에 사이드바(onclick="sidebar_open")가 열리도록 기능 추가 -->
        <!-- 1. 사이드바 (지난 달의 기록 확인 - 페이지 이동) -->
    </header>

    <!-- !PAGE CONTENT! -->
    <div class="main" style="margin:auto">
        <!-- 습관명 입력. 제출된 데이터를 받아서 서버에 저장한다-->
        <!-- Header -->
        <div class="container" style="margin-top:100px" id="header">
            <h1 class="jumbo"><b>Start Recording your daily habits.</b></h1>
        </div>
        <!-- 습관을 입력하는 부분 -->
        <div class="container" id="habit_input" style="margin-top:30px">
            <h1 class="xxlarge text-red"><b>Your Habit</b></h1>
            <p>Tracking your habits on a daily basis gives you a sense of everyday accomplishment. Meaning, you'll have
                more motivation to keep them going the next day and so forth. 3. You'll learn which habits you find
                difficult being consistent in, thus making it likelier that you'll make adjustments.</p>
            <form action="/action_page.php" target="_blank">
                <!--2. 습관명 입력 / 드롭다운 버튼으로 기존에 입력한 내용을 볼 수 있도록 -->
                <div class="section">
                    <label>어떤 습관을 기록하고 싶으세요?</label>
                    <div class="input-group">
                        <input class="form-control border" type="text" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                style="color:#fff; background-color:#f44336" data-toggle="dropdown"
                                aria-expanded="false">기존 습관 선택</button>
                            <!-- 드롭다운에서 아이템을 선택하면 텍스트로 입력시키도록 하자 -->
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Item</a>
                                <a class="dropdown-item" href="#">Another item</a>
                                <a class="dropdown-item" href="#">One more item</a>
                            </div>
                        </div>
                    </div>
                    <!-- 3. 색상 선택 -->
                    <div class="section">
                        <label style="padding-right: 30px;">어떤 색으로 기록하고 싶으세요?</label>
                        <select name="habit_color" id="init">
                            <option value="#ac725e">#ac725e</option>
                            <option value="#d06b64">#d06b64</option>
                            <option value="#f83a22">#f83a22</option>
                            <option value="#fa573c">#fa573c</option>
                            <option value="#ff7537">#ff7537</option>
                            <option value="#ffad46">#ffad46</option>
                            <option value="#42d692">#42d692</option>
                            <option value="#16a765">#16a765</option>
                            <option value="#7bd148">#7bd148</option>
                            <option value="#b3dc6c">#b3dc6c</option>
                            <option value="#fbe983">#fbe983</option>
                            <option value="#fad165">#fad165</option>
                            <option value="#92e1c0">#92e1c0</option>
                            <option value="#9fe1e7">#9fe1e7</option>
                            <option value="#9fc6e7">#9fc6e7</option>
                            <option value="#4986e7">#4986e7</option>
                            <option value="#9a9cff">#9a9cff</option>
                            <option value="#b99aff">#b99aff</option>
                            <option value="#c2c2c2">#c2c2c2</option>
                            <option value="#cabdbf">#cabdbf</option>
                            <option value="#cca6ac">#cca6ac</option>
                            <option value="#f691b2">#f691b2</option>
                            <option value="#cd74e6">#cd74e6</option>
                            <option value="#a47ae2">#a47ae2</option>
                        </select>

                    </div>
                    <!-- 4. 날짜 선택 / 기본적으로 오늘 날짜를 보여주고 달력에서 다른 날짜를 선택가능하도록 -->
                    <div class="section">
                        <label>어느 날짜에 기록하실 건가요?</label>
                        <input class="input border" type="date" name="habit_date" required>
                    </div>
                    <!-- 5. 기록하기 버튼 -->
                    <button type="submit" class="button block padding-large margin-bottom"
                        style="color:#fff;background-color:#f44336">습관 기록하기</button>
            </form>
        </div>
    </div>
    <!-- 기록된 내용을 서버에서 가져와 보여준다. -->
    <!-- 6. "April 2020" 의 형식으로 해당하는 연월 표시해준다 -->
    <!-- 7. 기록표. row/column 을 지정하는 형태의 표. 제일 왼쪽 칸에 습관명. 제일 위쪽 칸에는 1~31까지의 숫자 표시. -->
    <!-- Footer -->
    <div class="light-gray container padding-24" style="margin-top:75px;padding-right:58px">
        <p class="right">Created by <a href="sujinhan.me: abc@gmail.com? subject=subject text" target="_blank"
                class="hover-opacity">sujinhan.me@gmail.com</a></p>
    </div>

</body>

</html>